form#newsletter-form {
    background-color: rgb(154, 186, 27);
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    padding: 30px;
    width: 30%;
}

#errors {
    color: red;
    padding-left: 2px;
    list-style-type: none;
}

input, label {
    display: inline-block;
    /* usunąć zaznaczenie pola defaultowego od przeglądarki */
    outline: 0;
}

label {
    margin-top: 10px;
}

input[type='text'], input[type='email'] {
    height: 20px;
    width: 100%;
}

button[type='submit'] {
    background-color: #ff9300;
    color: white;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    /* h x w */
    padding: 10px 10px;
    cursor: pointer;
    font-weight: 700;
    outline: 0;
}

button[type='submit']:hover {
    background-color: #33333333;
    
}